body{

    background-image: url(./images/banner.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: -0.015em;
}
#HeaderSection{
    color: white;
}
#HeaderSection div h1{

    font-size: 13pt;
}


#HeaderSection div{
    display: inline-block;
    
}

#HeaderSection div ul li{

    display:inline-block;
    font-size: 12pt;
    padding-left: 25px;
    font-family: 'Nunito', sans-serif;

} 
#HeaderSection div ul li button{

    width: 85px;
    height: 30px;
    border: 1px solid white;
    border-radius:6px  ;
    color: white;
    background-color: transparent;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5);
    padding: 0.1em;
}
#HeaderSection #left {  

    width:79% ;

}
#HeaderSection div h1 span{

    font-weight: 100;
}




